﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Print this page example</title>
</head>
<body>
	<h1>Print this page example</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consequat pretium quam in commodo. Morbi non bibendum turpis, id sodales ipsum. Mauris fermentum eget dui ac suscipit. Vestibulum feugiat tempus neque sed accumsan. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras lacinia ac tellus quis suscipit. Nulla facilisi. Sed dapibus nibh sapien, eu lobortis dolor imperdiet sit amet. Vestibulum ut faucibus augue. Cras placerat nisi id dui suscipit, quis vehicula erat tincidunt. Quisque et felis eget dui congue ultricies vel in nunc. Praesent sollicitudin velit mi. Mauris justo magna, vehicula bibendum viverra at, aliquet vel lectus. Mauris adipiscing in nunc in pulvinar. Nullam metus nunc, facilisis nec rutrum sit amet, vehicula eu turpis. Praesent consectetur, lorem ac suscipit rutrum, ante felis mollis tellus, a viverra ipsum urna ut sapien. Nam ipsum justo, ullamcorper id ante id, pharetra posuere leo. Ut a semper dolor. Sed venenatis arcu vel interdum accumsan. Vivamus eget tortor a quam vulputate pretium. Praesent accumsan consectetur molestie. Curabitur leo enim, adipiscing sed venenatis non, interdum sed libero. Nullam tempor eros id risus mollis, quis ornare diam varius. In rutrum at leo et auctor. Vivamus non turpis ac arcu fringilla blandit. Cras cursus tincidunt nunc sed mollis. Fusce a facilisis dolor, vitae pellentesque dui. Proin aliquam erat eu nisi lobortis commodo. Donec congue mollis magna sed cursus. Sed et ligula neque. Nunc commodo nisi ante, porttitor vestibulum eros tincidunt ut. Duis non adipiscing augue. Vestibulum dictum ut nunc iaculis hendrerit. Integer placerat sagittis est vel tempor. Pellentesque at ligula ac lectus fringilla auctor scelerisque volutpat tortor. Suspendisse non cursus est. Quisque sed nunc at lacus aliquet porta blandit sed libero. Donec pharetra nec massa id molestie. Aliquam laoreet commodo sapien non porttitor. Curabitur at porta orci. Etiam at pellentesque mi. Morbi tincidunt cursus placerat. In id neque risus. Suspendisse id euismod libero. Phasellus blandit dignissim velit, sed fermentum elit elementum a. Ut venenatis, quam quis lobortis fermentum, libero urna facilisis augue, et varius metus magna et purus. Curabitur a nunc leo. Maecenas elementum nec lacus sed luctus. Aliquam elementum tellus tortor, convallis sollicitudin diam condimentum quis. Vivamus dignissim dui eget sapien tempor, sed dictum nulla consequat. Curabitur ac ipsum vitae justo posuere varius. Aenean cursus felis quis libero tincidunt, at laoreet turpis ornare. Phasellus facilisis dignissim quam sit amet condimentum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec scelerisque, mauris at viverra mollis, nisl sapien bibendum nibh, id rhoncus massa enim quis massa. Vestibulum nec quam eros. Aliquam tortor massa, ornare vitae rutrum sit amet, porta viverra neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed eget urna ante. Aliquam quis mauris sed tellus venenatis convallis eu sollicitudin augue. Duis lectus purus, convallis non tortor ac, malesuada lacinia magna.</p>
	<button onclick="javascript:window.print();">Print this page</button>
</body>
</html>
