﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="loginerror.aspx.cs" Inherits="loginerror" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
     <h1>
        Your Session Has Expired. Please Login Again From Your Window EXE

    </h1>
    </div>
    </form>
</body>
</html>
