﻿<%@ Page Title="" Language="C#" MasterPageFile="~/admin.master" AutoEventWireup="true" CodeFile="managedeptprinter.aspx.cs" Inherits="managedeptprinter" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cntAdmin" Runat="Server">

 <link href="js/ui.jqgrid.css" rel="stylesheet" type="text/css" />
     <script src="js/jquery-1.9.0.min.js" type="text/javascript"></script>
     <script src="js/jquery.jqGrid.js" type="text/javascript"></script>
     <script src="js/grid.locale-en.js" type="text/javascript"></script>
     <link href="js/jquery-ui-1.9.2.custom.css" rel="stylesheet" type="text/css" />
 
     <script src="js/jquery-ui.js"></script>
    <script src="js/customValidation.js" type="text/javascript"></script>
   <script type="text/javascript" src="js/jquery.uilock.js"></script>

 
     
   <script language="javascript" type="text/javascript">

       var ProductCollection = [];
       function clsProduct() {

           this.Dep_Name = "";
           this.Print_Com = "";

       }



       function UpdateRecord(DeptName, Id) {


           var PrintCom = $("#txtid" + Id).val();


           if (PrintCom == "")
            {
               alert("Please Enter Printer Name");
               return;
            }

           $.ajax({
               type: "POST",
               data: '{ "DepartmentName": "' + DeptName + '","Printer":"' + PrintCom + '"}',
               url: "managedeptprinter.aspx/UpdateDepartmentPrinter",
               contentType: "application/json",
               dataType: "json",
               success: function (msg) {

                   var obj = jQuery.parseJSON(msg.d);
                   alert("Information is updated");

               },
               complete: function (msg) {

               }

           });
       }


       function BindRows() {


           
           var html = "";

           for (var i = 0; i < ProductCollection.length; i++)
           {

               html += "<tr>";
               html += "<td>" + ProductCollection[i]["Dep_Name"] + "</td>";
               html += "<td> <input type='text' value = '" + ProductCollection[i]["Print_Com"] + "' /> </td>";
               html += "<td> <div class='btn btn-success'   onclick='javascript:UpdateRecord(" + ProductCollection[i]["Dep_Name"] + ");' id='btnAdd'>Update</div> </td>";
               html += "</tr>";
           }

           $("#tbDept").html(html);

       }


       function BindPrinter() {


           
           $.ajax({
               type: "POST",
               data: '{ }',
               url: "managedeptprinter.aspx/GetAll",
               contentType: "application/json",
               dataType: "json",
               success: function (msg) {

                   var obj = jQuery.parseJSON(msg.d);

                   $("#tbDept").html(obj.DeptLists);

               },
               error: function (xhr, ajaxOptions, thrownError) {

                   var obj = jQuery.parseJSON(xhr.responseText);
                   alert(obj.Message);
               },
               complete: function () {

                   $.uiUnlock();
               }

           });



       }



       $(document).ready(
       function () {
           BindPrinter();


           
       }
       );



   </script>


<form   runat="server" id="formID" method="post">
   <asp:HiddenField ID="hdnRoles" runat="server"/>

   <div class="right_col" role="main">
                <div class="">

                    <div class="page-title">
                        <div class="title_left">
                            <h3>Department Wise Printing</h3>
                        </div>
                        <div class="title_right">
                            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                                <div class="input-group">
                                
                                    <input type="text" class="form-control" placeholder="Search for...">
                                    <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                     

             

                     


                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Add/Edit Department Wise Printing</h2>
                             
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                             

                        </div>
                    </div>


     <div class="x_panel">
                        <div class="x_title">
                            <h2>Manage Department Printers</h2>
                             
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">


    

 <table class="table table-striped" style="font-size:12px;margin-top:-18px">
                                         <thead>
                                         <tr><th>Department Name</th><th>Printer</th><th></th></tr>


                                         
                                         </thead>
                                         <tbody id="tbDept">
                                         </tbody>





                                    </table>



                                    
                        </div>

                        


                    </div>

                     
                </div>
                <!-- /page content -->

              

            </div>


 
</form>

            


</asp:Content>



