﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Reports/ReportPage.master" AutoEventWireup="true" CodeFile="Default2.aspx.cs" Inherits="backoffice_Reports_Default2" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cntMaster" Runat="Server">
 <div style="width:100%;text-align:center;padding-top:100px;">
 <table style="margin-left:300px;">
 <tr><td>
 <h1 style="font-family:monospace;color:#db3030">
 WELCOME TO<br /><br />
  REPORTING SECTION 
 </h1>
 </td></tr>
 </table>
</div>
 
</asp:Content>

