﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Reports/ReportPage.master" AutoEventWireup="true" CodeFile="ItemSaleDetailedRPT.aspx.cs" Inherits="Reports_ItemSaleDetailedRPT" %>

<%@ Register Assembly="DevExpress.XtraReports.v11.2.Web, Version=11.2.10.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" Namespace="DevExpress.XtraReports.Web" TagPrefix="dx" %>
<%@ Register TagPrefix="asp" Namespace="AjaxControlToolkit" Assembly="AjaxControlToolkit" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cntMaster" runat="Server">
  <style type="text/css">
    #tblist tr {
      border-bottom: solid 1px silver;
      background: #EDEDED;
    }

      #tblist tr td {
        text-align: left;
        padding: 2px;
      }

      #tblist tr:nth-child(even) {
        background: #F7F7F7;
      }

    #tblistItem tr {
      border-bottom: solid 1px silver;
      background: #EDEDED;
    }

      #tblistItem tr td {
        text-align: left;
        padding: 2px;
      }

      #tblistItem tr:nth-child(even) {
        background: #F7F7F7;
      }
  </style>
  <script src="js/jquery-1.9.0.min.js" type="text/javascript"></script>
  <script type="text/javascript">

    $(document).ready(
   function () {


     $("input[name ='item']").click(function () {
       var ItemsId = $('input[name="item"]:checkbox:checked').map(function () {
         return this.value;
       }).get();

       //alert(ItemsId)
       $("#<%=hdnItem.ClientID %>").val(ItemsId);
       });

     $("#<%=rdbAllItem.ClientID %>").change(
  function () {


    if ($("#<%=rdbAllItem.ClientID %>").prop('checked') == true) {
        $("#<%=rdbSelectItem.ClientID %>").prop('checked', false);

        }

    }
    );
     $("#<%=rdbSelectItem.ClientID %>").change(
  function () {

    if ($("#<%=rdbSelectItem.ClientID %>").prop('checked') == true) {

        $("#<%=rdbAllItem.ClientID %>").prop('checked', false);

        }

    }
    );



   });

  </script>

  <asp:ScriptManager ID="scrip1" runat="server"></asp:ScriptManager>
  <asp:HiddenField ID="hdnItem" runat="server" />
  <div style="padding-top: 30px; padding-left: 30px;">
    <table style="margin-bottom: 5px; text-align: center" width="1050px">
      <tr>
        <td colspan="100%" style="background-color: Silver; color: Black; font-weight: bold; border: solid 2px gray; text-transform: uppercase">Item Sale Detailed REPORT </td>
      </tr>

    </table>


    <table>
      <tr>
        <td style="color:white">Choose Branch</td>
        <td>
          <asp:DropDownList class="form-control" ID="ddlBranch" runat="server" placeholder="Choose Branch" Style="width: 350px; margin-bottom: 20px; height: 32px">
          </asp:DropDownList></td>
       
      </tr>
      <tr>
         <td style="color: white">POS</td>
        <td>
          <asp:DropDownList ID="dd_customername" class="form-control" runat="server" Style="width: 122px; height: 32px;"></asp:DropDownList></td>
      </tr>

      <tr>
        <td valign="top" style="width: 200px; padding-top: 20px; padding-left: 10px">


          <table style="border: 1px">
            <tr>
              <td style="color:white"><b>Select Date</b></td>
            </tr>
            <tr>
              <td style="padding-top: 10px;color:white">From Date:</td>
              <td style="padding-top: 10px;color:white">
                <asp:TextBox ID="txtDateFrom" runat="server"
                  Width="100px"></asp:TextBox>

                <asp:CalendarExtender ID="cc1" TargetControlID="txtDateFrom" EnabledOnClient="true" runat="server"></asp:CalendarExtender>
              </td>
            </tr>

            <tr>
              <td style="padding-top: 10px;color:white">To Date:</td>
              <asp:CalendarExtender ID="CalendarExtender1" TargetControlID="txtDateTo" EnabledOnClient="true" runat="server"></asp:CalendarExtender>
              <td style="padding-top: 10px">
                <asp:TextBox ID="txtDateTo" name="All" runat="server" Width="100px"></asp:TextBox></td>
            </tr>
            <tr>
              <td style="padding-top: 10px; color: white">
                <asp:RadioButton ID="rdbAllItem" name="All" runat="server" Text="All" Checked="True" />
              </td>
              <td style="padding-top: 10px; color: white">
                <asp:RadioButton ID="rdbSelectItem" runat="server" Text="Selected" /></td>
              <%--  <asp:Button ID="Button1" runat="server"  Text="Generate Report" 
            onclick="btnGetRecords_Click"/></td>--%>
            </tr>
            <tr>
              <td class="headings" colspan="2" style="padding-top: 20px">Items:</td>
            </tr>
            <tr>

              <td colspan="2" style="padding-top: 20px">
                <div style="border: solid 1px silver; border-style: inset; height: 200px; overflow-y: scroll">
                  <table style="width: 100%" id="tblistItem">
                    <asp:Literal ID="ltItems" runat="server"></asp:Literal>

                  </table>
                </div>

              </td>
            </tr>

            <tr>
              <td>
                <asp:Button ID="btnGetRecords" runat="server" Text="Generate Report"
                  OnClick="btnGetRecords_Click" Style="margin-top: 20px" /></td>
          </table>
        </td>
        <td>
          <dx:ReportToolbar ID="ReportToolbar1" runat="server" ShowDefaultButtons="False"
            OnUnload="ReportToolbar1_Unload" Width="800px"
            ReportViewerID="ReportViewer1">
            <Items>
              <dx:ReportToolbarButton ItemKind="Search" />
              <dx:ReportToolbarSeparator />
              <dx:ReportToolbarButton ItemKind="PrintReport" />
              <dx:ReportToolbarButton ItemKind="PrintPage" />
              <dx:ReportToolbarSeparator />
              <dx:ReportToolbarButton Enabled="False" ItemKind="FirstPage" />
              <dx:ReportToolbarButton Enabled="False" ItemKind="PreviousPage" />
              <dx:ReportToolbarLabel ItemKind="PageLabel" />
              <dx:ReportToolbarComboBox ItemKind="PageNumber" Width="65px">
              </dx:ReportToolbarComboBox>
              <dx:ReportToolbarLabel ItemKind="OfLabel" />
              <dx:ReportToolbarTextBox IsReadOnly="True" ItemKind="PageCount" />
              <dx:ReportToolbarButton ItemKind="NextPage" />
              <dx:ReportToolbarButton ItemKind="LastPage" />
              <dx:ReportToolbarSeparator />
              <dx:ReportToolbarButton ItemKind="SaveToDisk" />
              <dx:ReportToolbarButton ItemKind="SaveToWindow" />
              <dx:ReportToolbarComboBox ItemKind="SaveFormat" Width="70px">
                <Elements>
                  <dx:ListElement Value="pdf" />
                  <dx:ListElement Value="xls" />
                  <dx:ListElement Value="xlsx" />
                  <dx:ListElement Value="rtf" />
                  <dx:ListElement Value="mht" />
                  <dx:ListElement Value="html" />
                  <dx:ListElement Value="txt" />
                  <dx:ListElement Value="csv" />
                  <dx:ListElement Value="png" />
                </Elements>
              </dx:ReportToolbarComboBox>
            </Items>
            <Styles>
              <LabelStyle>
                <Margins MarginLeft="3px" MarginRight="3px" />
              </LabelStyle>
            </Styles>
          </dx:ReportToolbar>
          <dx:ReportViewer ID="ReportViewer1" runat="server" Width="800px">
          </dx:ReportViewer>

        </td>
      </tr>
    </table>
  </div>
</asp:Content>

