/*pre-define classes*/
body{ background:url(../images/bodbg.png) repeat; width:100% 100%; }
 
p,h1,h2,h3,h4,h5,h6,ul,li,form,img{ font-weight:normal; margin:0; list-style:none; border:none; }

.container{ background:url(../images/body-bg.jpg) repeat; }
.background{ border-width:2px;	
    border-style:dotted;
	color:#c68a5e;}
.butt{ padding:3px 3px; margin:0px 0 0 5px; }

.menubg{ 
    padding: 0px 0px 0 10px; 
    background: #bcad8f;
    border-radius: 3px;
	margin:8px; }
	
.bgh{ padding:3px 3px;
    background: #efefc8;
	background:url(../images/bgpng.png) repeat;
	 border-bottom-left-radius: 0px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 0px;
    border-top-right-radius: 3px;
	color:#7a7663;
     }	
.buttext{ padding:0 }

.dest{ font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#7a7663; }

.item{ padding:0 0 0 50px; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#7a7663; }

.dotte{ border-top-style: dotted;
	color:#c68a5e;
	width:100%px; }
	
.list{ margin:0 0 0 0px; padding:0 0 0 0; }	
	
.list p{ margin:0 0 0 0px; padding:0 0 0 0; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#010101; }	

.list h6{ margin:0 0 0 0px; padding:0 0 0 0; font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#929288; }	

.doller h5{ margin:0 0 0 0px; padding:0 0 0 0; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#010101;}

.abc { border: 0px solid #a1a1a1;
    padding: 1px 1px; 
    background: #e7e4c5;
    width:100%px;
    border-radius: 25px; }
.abc p{ color:#010101; font-family:Arial, Helvetica, sans-serif; font-size:11px; }	

	
.middledoted{ border: dotted 1px #663; margin:10px 0 0 0;
	color:#7a7663;
	width:100%px;
	 }
	 
.shop{ margin:0px 0 0 0; padding:0px;}

.shop h2{ margin:0px; padding:0px; font-size:18px; color:#070005; font-family:"Source Sans Pro"Arial, Helvetica, sans-serif; text-align:center; }

.shop span{ margin:0px; padding:0px; font-size:18px; color:#fd0100; font-family:"Source Sans Pro"Arial, Helvetica, sans-serif; }

.start{ margin:0 0 0 0px; padding:0 0 0 0; }

.start ul{ margin:0 0 0 0px; padding:0 0 0 px;  }

.start ul li{ margin:0 0 0 0px; padding:0 0 0 0px; list-style:none; display:inline; }



