﻿<%@ WebHandler Language="C#" Class="ManageUsers" %>

using System;
using System.Web;

public class ManageUsers : IHttpHandler {

    public void ProcessRequest(HttpContext context)
    {
        System.Collections.Specialized.NameValueCollection forms = context.Request.Form;
        string strOperation = forms.Get("oper");
        string strResponse = string.Empty;
        int BranchId = Convert.ToInt32(HttpContext.Current.Request.Cookies[Constants.BranchId].Value);   
        if (strOperation == null)
        {
            //oper = null which means its first load.
            var jsonSerializer = new System.Web.Script.Serialization.JavaScriptSerializer();
            var x = jsonSerializer.Serialize(

                new UserBLL().GetAll(BranchId));

            context.Response.Write(x);
        }
        else if (strOperation == "del")
        {


        }
    }

    public bool IsReusable
    {
        get
        {
            return false;
        }
    }

}