﻿body, html {overflow: hidden !important;}


.product_items .cate::-webkit-scrollbar {width: 25px;}
.product_items .cate::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgb(70, 201, 172);}
.product_items .cate::-webkit-scrollbar-thumb {background-color: #f06671;outline: 1px solid slategrey;}

div#products::-webkit-scrollbar {width: 25px;}
div#products::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgb(70, 201, 172);}
div#products::-webkit-scrollbar-thumb {background-color: #f06671;outline: 1px solid slategrey;}




.menu_tabs ul li a {font-size: 13px; padding: 0 0;    border: none;}
.menu_tabs .ancBasic {    background: -webkit-linear-gradient(#46c9ac, #46c9ac);}
.menu_tabs .ancSelected {    background: -webkit-linear-gradient(#2d4019, #528a1e);}
.menu_tabs ul li {height: 40px !important;}
.search_section {background-color: #f06671  !important;
                 width: 100% !important; 
                 margin: 0 7px !important; 
                 padding: 10px 0 !important;
                 border: none !important;}
#MenuScroll .menu_tabs {
    margin: 7px 0 0 0;
    padding: 0px 8px;
    float: left;
    clear: both;
    width: 100%;
    border-top: 2px solid #46c9ac  !important;
    border-bottom: 2px solid #46c9ac  !important;
    background-color: #fff;}
#tbProductInfo input {
    width: 70px;
    font-size: 15px;
    height: 27px;
    text-align:center;
}
#tbProductInfo #btnMinus {
    margin: 0px;
    vertical-align: middle;
    padding: 0px 0;
    font-size: 35px;
    line-height: 25px;
    border-radius: 0px;
}
#tbProductInfo #btnPlus {
    margin: 0px;
    vertical-align: middle;
    padding: 0px 0;
    font-size: 35px;
    line-height: 25px;
    border-radius: 0px;
}
product_items .leftside {margin: 0px;}
.product_items .cate {margin: 0px;overflow: auto;}
.bill_detail_screen {width: 100%; float: left; background-color: #fffff6; padding: 0px 0 20px;}
.reciept_detail tbody tr:nth-child(even) {background-color: #f9e4e6;}
.reciept_detail {background-color: #fff;box-shadow: 0px 0px 3px 0px #e36d75;}
.num_key .btn:focus {width: 45px; height: 45px;}
.sdfg label#lblcustmobno {
    padding: 6px 0px;
    width: auto;
    border: 0px;
    height: 35px;
    margin: 0 0 0 5px;
    float: right;
    position: absolute;
    z-index: 1000000;
    font-size: 17px;
    color: #000;
    background-color: #fff;}
    .button_options .button1 {
    transition: 0.5s;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    font-weight: 600;}
    .button_options .button3 {
    transition: 0.5s;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    font-weight: 600;}
.search_section select {
    height: 40px !important;
    font-size: 12px;
    width: 128px !important;
    font-weight: 600;
    margin: 0 0 0 10px;
}
.bill_detail_screen div#colDvProductList {
    border: 1px solid #46c9ac;
    border-radius: 4px;
    padding: 2px 2px;
}
.bill_detail_screen div#products {
    width: 95%;
    margin: 2px auto;
    border: 1px solid #46c9ac;
    height: 479px;
    border-radius: 4px;
    overflow: auto;
}
.change_paymode {
    left: -220px;
    top: 140px;
    width: 68%;
    box-shadow: 0px 5px 10px 0px #000;
    background-color: #fff;
}
.change_paymode .x_panel {
    padding: 0px;
    margin: 0px;
}
.change_paymode h2 {
    margin: 0px;
    font-size: 20px;
    text-align: center;
    background-color: #52c9ae;
    color: #fff;
    border-radius: 3px 3px 0px 0px;
    padding: 10px 0;
}
.change_paymode .bill_number {
    border-radius: 3px;
    padding: 0 5px;
    width: 70%;
    float: left;
}
.reciept_detail input {margin: 0px;}
div#getCalculator {left: 90px; top: 15%;}
.calculator .operationSide {left: -20px;}
.calculator .displayBox {width: 100%;}
.cal_close {background-color: #eb646f; color: #fff; font-weight: 600; width: 100px;  height: 45px;}
.calculator .x_panel {padding: 0px; margin: 0px;}
.paymode_cate #ddlbillttype_pm option {padding: 4px 5px;}
.payment_cate_table td {font-size: 15px;}
.paymode_close td {font-size: 15px;}
.paymode_close input#txtBalanceReturn_pm {margin: 3px 20px;}
tr.paymode_close {border-top: 1px dotted #c0c0c0; width: 100%; float: left;padding: 8px 0 0;}
label#Online_pm {margin: 0px; position: relative; top: -5px;}
label#COD_pm {margin: 0px; position: relative;top: -6px;}
.paymode_cate select#ddlbillttype_pm {margin: 0px 0px 10px;padding: 0px;font-size: 16px;}
.paymode_cate {margin: 0px !important; padding: 6px 6px !important; border: none !important;}
.change_paymode .x_content {margin: 0px; padding: 0px;}
.bill_number input#txtBillNumber_pm {margin: 0px;}
#products .box { width: 23%;}
#products .box h3 { 
    line-height: 12px;
    background: -webkit-linear-gradient(#f9e4e6, #f9e4e6);
    color: #000;
    font-weight: bold;
    margin: 0px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    word-break: break-word;
}
#products .box h3:hover {background: -webkit-linear-gradient(#f06671, #ea9198);}
#products span {font-size: 11px !important;}
#products span {font-size: 11px !important;}
span.getprice {color: #778f61 !important;}
table.code_search {float: right;margin: 0 2% 0 0;}
#screenDialog {
    overflow: inherit;
    padding: 6px 0;
    background: rgb(225, 225, 225) !important;}
    .ui-widget-header {
    background: #f06671;
    border: 1px solid #f06671;
    border-radius: 0px 0px 0 0;}
.search_section input {
    height: 40px !important;
    margin: 0px 0 !important;
    font-size: 12px;
    width: 175px !important;
    font-size: 12px;}
#dvOuter_ddlMobSearchBox {
    min-height: auto;
    height: 40px !important;
    margin: 0px 0 0px 5px;
    border-radius: 0px;
    padding: 0 0 !important;
    min-width: auto !important;
    width: 198px !important;
    top: 0px;}
#dvOuter_ddlMobSearchBox #txtddlMobSearchBox {margin: 0px;}
.search_section img#btnAddCustomer {margin: 0px 5px 0 !important; width: 35px !important;cursor: pointer;}
#btnGetByItemCode img {width: 40px !important; margin: 0 5px;cursor: pointer;}
#btnSearch img {width: 40px !important; margin: 0 0 0 5px;cursor: pointer;}
.reciept_detail td {padding: 8px 4px !important;vertical-align: middle !important;font-weight: 600;}
.betlist_form_table div#t_jQGridDemoBill{width: 100%; padding: 1px 17px 23px; float: left; clear: both; height: 31px;}

.ui-draggable div#CustomerDialog {padding: 0px;}
.ui-draggable {padding: 0px;}
#CustomerDialog .x_panel {padding: 0px; margin: 0px;}
#CustomerDialog .x_title {padding: 0px; margin: 0px; justify-content: center; display: flex;}
#CustomerDialog h2 {margin: 0px;font-size: 20px; padding: 8px 0;}
#CustomerDialog .x_content {margin: 0px; padding: 0px;}
#dvOuter_ddlMobSearchBox #txtddlMobSearchBox {width: 100% !important;}
.Customer_Information textarea#cm_Address1 {width: 100% !important;}
.product_items .cate {
    height: 265px;
}



@media screen and (max-width:1200px) and (min-width:1000px)
{
       html {overflow-x: hidden;}
    .reciept_detail {width: 270px !important; margin: 5px 0px 7px !important; background-color: #fff !important;}
    .search_section select {
    height: 40px !important;
    width: 90px !important;
    padding: 0 2px !important;
}
#dvOuter_ddlMobSearchBox {
    min-height: auto;
    height: 40px !important;
    margin: 0px 0 0 5px;
    border-radius: 0px;
    padding: 0 0 !important;
    min-width: auto !important;
    width: 130px !important;
    top: 0px;
}
    .calculator .displayBox {width: 100%; height: auto !important; max-height: 90px!important;}
    .operationSide .btn-operation {width: 90px;height: 40px; padding: 0px;}
    .calculator .operationSide {left: -20px; top: 25px;padding: 8px 18px 0;}
    .cal_close {margin: 15px 0;}
    .displayText {margin: 0px !important;font-size: 35px !important;}
    div#getCalculator {left: 90px; top: 15%; width: 40%;}
    .num_key .btn {width: 45px;height: 45px;}
    .num_key {padding: 8px 0 0;}
    .search_section {width: 100% !important; height: auto !important;}
    .change_paymode {left: 3px;top: 77px;    width: auto;}
    #dvOuter_ddlMobSearchBox #txtddlMobSearchBox {margin: 0px !important; padding: 11px 7px !important; height: auto !important;}
    .search_section img#btnAddCustomer {margin: 0px 5px 0 !important; width: 35px !important;}
    #btnGetByItemCode img {width: 40px !important; margin: 0px 5px;}
    #btnSearch img {width: 40px !important; margin: 0 0 0 5px;}
    .search_section input {
    height: 40px !important;
    font-size: 12px;
    width: 150px !important;
    font-size: 12px;}
    .bill_detail_screen div#products {height: 452px;}

    #dvOuter_ddlMobSearchBox #txtddlMobSearchBox {margin: 0px !important; padding:0px;}
    .reciept_detail input#txtRemarks {width: 100px !important;    margin: 0px;    height: 22px;}
    .reciept_detail input {margin: 0px;width: 30px !important;}
    .reciept_detail td {padding: 5px 4px !important; vertical-align: middle !important;}
    .product_items .cate {height: 175px !important;}
    .button_options .button1 {font-size: 12px; line-height: 12px; letter-spacing: 1px; padding-top: 8px;}
    .button_options .button3 {font-size: 12px;line-height: 12px;letter-spacing: 1px; padding-top: 8px;}
    .kotscreen_boxes{height: 330px !important;}
}

@media screen and (max-width:999px) and (min-width:768px)
{
    html {overflow-x: hidden;}
    .reciept_detail {width: 195px !important; margin: 0px 0px 7px !important;}
    .search_section select {
    height: 40px !important;
    width: 75px !important;
    padding: 0 2px !important;
}
#dvOuter_ddlMobSearchBox {
    min-height: auto;
    height: 40px !important;
    margin: 0px 0 0 5px;
    border-radius: 0px;
    padding: 0 0 !important;
    min-width: auto !important;
    width: 100px !important;
    top: 0px;
}
#products .box {
    width: 22%;
}
    .calculator .displayBox {width: 100%; height: auto !important; max-height: 90px!important;}
    .operationSide .btn-operation {width: 90px;height: 40px; padding: 0px;}
    .calculator .operationSide {left: -20px; top: 25px;padding: 8px 18px 0;}
    .cal_close {margin: 15px 0;}
    .displayText {margin: 0px !important;font-size: 35px !important;}
    div#getCalculator {left: 13px;top: 15%;width: 55%;}
    .num_key .btn {width: 45px;height: 45px;}
    .num_key {padding: 8px 0 0;}
    .search_section {width: 100% !important; height: auto !important;}
    .change_paymode {left: 3px;top: 77px;    width: auto;}
    #dvOuter_ddlMobSearchBox #txtddlMobSearchBox {margin: 0px !important; padding: 11px 7px !important; height: auto !important;}
    .search_section img#btnAddCustomer {margin: 0px 5px 0 !important; width: 35px !important;}
    #btnGetByItemCode img {width: 40px !important; margin: 0px 5px;}
    #btnSearch img {width: 40px !important; margin: 0 0 0 5px;}
    .search_section input {
    height: 40px !important;
    font-size: 12px;
    width: 75px !important;
    font-size: 12px;}
    .bill_detail_screen div#products {height: 412px;}
        table.code_search {margin: 0 4% 0 0;}
    #dvOuter_ddlMobSearchBox #txtddlMobSearchBox {margin: 0px !important; padding:0px;}
    .reciept_detail input#txtRemarks {width: 100px !important;    margin: 0px;}
    .reciept_detail input {margin: 0px;width: 30px !important;}
    .reciept_detail td {padding: 5px 4px !important; vertical-align: middle !important;}
    .product_items .cate {height: 140px !important;}
    .button_options .button1 {font-size: 12px; line-height: 12px; letter-spacing: 1px; padding-top: 8px;}
    .button_options .button3 {font-size: 12px;line-height: 12px;letter-spacing: 1px; padding-top: 8px;}
    .kotscreen_boxes{height: 370px !important;}
    .manage_kotscreen_left div#dvProductInfo {height: 214px !important;}


}
@media screen and (max-width:767px) and (min-width:580px)
{
    html, body {overflow-x: hidden !important;}
    .betlist_form_table div#gbox_jQGridDemoBill {width: 100% !important; overflow: auto;}
    .betlist_form_table div#t_jQGridDemoBill{width: 100%; padding: 1px 17px 23px; float: left; clear: both; height: 31px;}
    .betlist_form_table div#jQGridDemoPagerBill {height: 33px;}
    .reciept_detail {width: 115px !important; margin: 0px 0px 7px !important;}
    .product_items div#ScrollHgt {border: 1px solid #887d73;}
    #products span {
    font-size: 10px !important;
}
    #products .box {
    width: 21%;
}
    
    

    .search_section select {
    height: 40px !important;
    width: 60px !important;
    padding: 0 2px !important;
    margin: 0 0 0 3px;
        font-size: 10px;
}
#dvOuter_ddlMobSearchBox {
    min-height: auto;
    height: 40px !important;
    margin: 0px 0 0 5px;
    border-radius: 0px;
    padding: 0 0 !important;
    min-width: auto !important;
    width: 60px !important;
    top: 0px;
}
    .calculator .displayBox {width: 100%; height: auto !important; max-height: 90px!important;}
    .operationSide .btn-operation {width: 90px;height: 40px; padding: 0px;}
    .calculator .operationSide {left: -20px; top: 25px;padding: 8px 2px 0;}
    .cal_close {margin: 15px 0;}
    .displayText {margin: 0px !important;font-size: 35px !important;}
    div#getCalculator {left: 13px;top: 15%;width: 55%;}
    .num_key .btn {width: 45px;height: 45px;}
    .num_key {padding: 8px 0 0;}
    .search_section {width: 100% !important; height: auto !important;}
    .change_paymode {left: 3px;top: 50px;    width: auto;}
    #dvOuter_ddlMobSearchBox #txtddlMobSearchBox {margin: 0px !important; padding: 11px 7px !important; height: auto !important;}
    .search_section img#btnAddCustomer {margin: 0px 5px 0 !important; width: 35px !important;}
    #btnGetByItemCode img {width: 40px !important; margin: 0px 5px;}
    #btnSearch img {width: 40px !important; margin: 0 0 0 5px;}
    .search_section input {
    height: 40px !important;
    margin: 0px 0 !important;
    font-size: 12px;
    width: 60px !important;
    font-size: 10px;}
    .bill_detail_screen div#products {height: 452px;}
    
    #dvOuter_ddlMobSearchBox #txtddlMobSearchBox {margin: 0px !important; padding:0px;}
    .reciept_detail input#txtRemarks {width: 100px !important;    margin: 0px;}
    .reciept_detail input {margin: 0px;width: 30px !important;}
    .reciept_detail td {padding: 5px 2px !important; vertical-align: middle !important; font-size: 8px;}
    .product_items .cate {height: 140px !important;}
    .button_options .button1 {font-size: 10px; line-height: 8px; letter-spacing: 0px; padding-top: 8px;}
    .button_options .button3 {font-size: 10px;line-height: 8px;letter-spacing: 0px; padding-top: 8px;}
    .kotscreen_boxes{height: 360px !important;}
    .manage_kotscreen_left div#dvProductInfo {height: 204px !important;}
}
@media screen and (max-width:579px) and (min-width:400px)
{
    html, body {overflow-x: hidden !important;}
    .betlist_form_table div#gbox_jQGridDemoBill {width: 100% !important; overflow: auto;}
    .bill_list_btns .btn {font-size: 12px; padding: 5px 8px;}
    .betlist_form_table .ui-jqgrid .ui-jqgrid-htable th div {font-size: 11px; font-weight: normal;}
    .betlist_form_table div#t_jQGridDemoBill{width: 100%; padding: 1px 17px 23px; float: left; clear: both; height: 31px;}
    .betlist_form_table div#jQGridDemoPagerBill {height: 33px;}
    .betlist_form_table input#txtDateFrom {width: 75px !important; font-size: 12px;}
    .betlist_form_table input#txtDateTo {width: 75px !important; font-size: 12px !important;}
}
@media screen and (max-width:399px) and (min-width:320px)
{
    html, body {overflow-x: hidden !important;}
    .betlist_form_table div#gbox_jQGridDemoBill {width: 100% !important; overflow: auto;}
    .bill_list_btns .btn {font-size: 11px; padding: 5px 3px;}
    .betlist_form_table .ui-jqgrid .ui-jqgrid-htable th div {font-size: 11px; font-weight: normal;}
    .betlist_form_table div#t_jQGridDemoBill{width: 100%; padding: 1px 17px 23px; float: left; clear: both; height: 31px;}
    .betlist_form_table div#jQGridDemoPagerBill {height: 33px;}
    .betlist_form_table input#txtDateFrom {width: 75px !important; font-size: 12px;}
    .betlist_form_table input#txtDateTo {width: 75px !important; font-size: 12px !important;}
}





 
 
 
 .menu_tabs ul#categories {height: auto;float: left; margin: 0px;}
 .kotscreen_search_section {margin: 0px !important;padding: 11px 29px !important;}
 .kotscreen_search_section2 {margin: 0px !important;padding: 15px 29px !important;}
 .manage_kotscreen_left .cate2 {margin: 0px;}
 .manage_kotscreen_left .leftside {
    margin: 0px;
    border: 1px solid #46c9ac;
     background: -webkit-linear-gradient(#46c9ac, #46c9ac);}
 .manage_kotscreen_left {
    border: 1px solid #46c9ac;
    border-radius: 4px;
    background-color: mintcream;
    padding: 2px 2px;}
 .kotscreen_boxes {
    width: 95%;
    margin: 2px auto;
    border: 1px solid #46c9ac;
    border-radius: 4px;
    overflow: auto;
    height: 420px;
    background-color: white;
    float: left;}
  .kotscreen_search_section table {width: 100%;}
  .kotscreen_search_section table td {margin: 5px 5px !important;padding: 0px;}
  .kotscreen_search_section table .checkbox {
    float: left;
    border: 2px solid #fff;
    padding: 8px 5px;
    width: 140px;}
    .kotscreen_search_section table .check {float: right;}
    .kotscreen_search_section table select {font-size: 18px;margin: 0px; width: 130px !important; border-radius: 0px; box-shadow: none;}
    .kotscreen_search_section2 div#dvOuter_ddlMobSearchBox {margin: 0px 0 8px; width: 320px !important;}
    .kotscreen_search_section2 table td {float: left;}
    .kotscreen_search_section2 table input {width: 133px !important; border-radius: 0px;border-radius: 0px;box-shadow: none;}
    .kotscreen_search_section2 table img#btnAddCustomer {margin: -50px 0 0 !important;}
    .search_main {background-color: #f06671;width: 100%;float: left;}
    .bill_detail_screen1 {background-color: #fffff6; padding: 0px 10px 100px;}
    
    
    .table_transfer {width: 100%;margin: 0 auto;box-shadow: 0px 0px 8px #9a9a9a;}
    .table_transfer .x_title h2 {
    margin: 0px;
    font-size: 22px;
    text-align: center;
    padding: 8px 6px;
    background-color: #f06671;
    color: #fff;
    font-weight: 600;}
    .table_transfer .form-group table {width: 100%;}
    .table_transfer_list .leftside {margin: 0px; background-color: #f06671;}
    .table_transfer_list .cate {margin: 0px !important; padding: 0px;}
    .form-group label.table_lable {width: 100%;float: left; margin: 10px 0 5px 15px;}
    .form-group .table_select {
    width: 90%;
    height: 40px;
    font-size: 20px;
    margin: 0 15px 10px;}
    
    @media screen and (max-width:1199px) and (min-width:1000px)
    {
        .kotscreen_search_section table td {margin: 5px 2px !important;}
        .kotscreen_search_section table select {width: 115px !important;}
        .kotscreen_search_section2 div#dvOuter_ddlMobSearchBox {width: 275px !important; margin: 0px 0 5px;}
        .kotscreen_search_section2 table input {width: 110px !important;}
        .kotscreen_search_section table select {font-size: 17px;}
    }
    @media screen and (max-width:999px) and (min-width:768px)
    {
        .kotscreen_search_section table td {margin: 5px 2px !important;}
        .kotscreen_search_section table select {width: 75px !important;font-size: 17px;}
        .kotscreen_search_section2 div#dvOuter_ddlMobSearchBox {width: 225px !important; margin: 0px 0 5px;}
        .kotscreen_search_section2 table input {width: 82px !important;}
        .kotscreen_search_section {padding: 11px 15px !important;}
        .kotscreen_search_section2 input#txtddlMobSearchBox {width: 100% !important;}
        .kotscreen_search_section table .checkbox {width: 135px;}
        .kot_button_option {word-break: break-word;}
    }
    @media screen and (max-width:767px) and (min-width:580px)
    {
        .kotscreen_search_section table td {margin: 5px 2px !important;}
        .kotscreen_search_section table select {width: 60px !important;font-size: 12px;}
        .kotscreen_search_section2 div#dvOuter_ddlMobSearchBox {width: 183px !important; margin: 0px 0 5px;}
        .kotscreen_search_section2 table input {width: 70px !important;}
        .kotscreen_search_section {padding: 11px 0px 11px 10px !important;}
        .kotscreen_search_section2 input#txtddlMobSearchBox {width: 100% !important;}
        .kotscreen_search_section table .checkbox {width: 105px;font-size: 10px;padding: 8px 2px;}
        .kotscreen_search_section2 table img#btnAddCustomer {margin: -45px 0 0 !important; width: 35px !important;}
        .kot_btnGetByItemCode img {margin: 0px !important;}
        .kotscreen_search_section2 {padding: 15px 0px !important;}
        .kot_button_option {word-break: break-word;}
    }
