﻿.paymode_panel .x_title {
    margin: 0px;
    padding: 0px;
}
.paymode_panel .x_content {
    margin: 0px;
    padding: 0px;
}
.bill_number table {
    width: 60%;
}
.bill_number td {
    padding: 5px 10px;
}
.bill_number input {
    margin: 0px;
    width: 100%;
    border: none;
    box-shadow: inset 2px 2px 5px 0px #bbb;
    border-radius: 0px !important;
    background-color: #eee;
    height: 40px;
    padding: 0 15px;
}
.bill_number div#dvShow {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    font-weight: 600;
    background: rgb(240, 102, 113);
    box-shadow: inset -2px -5px 5px #8d3c42;
    font-size: 12px;
    height: 40px;
    margin: 0px;
    padding: 10px 5px 5px;
    text-align: center;
    vertical-align: middle;
    width: 200px;
    cursor: pointer;
    color: #fff !important;
    text-transform: uppercase;
    border-radius: 0px;
    display: inline-block;
    border: none;
}
.paymode_panel .cate {
    margin: 0px;
    padding: 0px;
    border: 1px solid #ddd;
}

.paymode_panel .cate {
    margin: 0 auto 10px;
    padding: 20px;
    /* border: 1px solid #ddd; */
    width: 80%;
    box-shadow: inset 0px 0px 10px 0px #bbb;
}
.paymode_cate .table_one {
    width: 100%;
    margin: 0 0 15px;
}
.paymode_cate .table_two {
    width: 58%;
}
.table_two td {
    font-size: 12px;
}
.table_one td:first-child {
    width: 260px;
    padding: 0 10px 0 0;
}
.table_one select#ddlChosseCredit {
    margin: 0px;
    width: 250px;
    border: none;
    box-shadow: inset 2px 2px 5px 0px #bbb;
    border-radius: 0px !important;
    background-color: #eee;
    height: 30px;
    padding: 0 15px;
    font-size: 12px;
}
.table_two input {
    margin: 0 0 10px 0;
    width: 250px;
    border: none;
    box-shadow: inset 2px 2px 5px 0px #bbb;
    border-radius: 0px !important;
    background-color: #eee;
    height: 30px;
    padding: 0 15px;
    font-size: 12px;
}
.table_two select {
    margin: 0 0 10px 0;
    width: 250px;
    border: none;
    box-shadow: inset 2px 2px 5px 0px #bbb;
    border-radius: 0px !important;
    background-color: #eee;
    height: 30px;
    padding: 0 15px;
    font-size: 12px;
}
.table_two input#codChk {
    margin: 0px;
    box-shadow: none;
    width: auto;
    height: auto;
}
.table_two input#OnlineChk {
    margin: 0px;
    box-shadow: none;
    width: auto;
    height: auto;
}
.paymode_panel {
    padding: 0px;
}
.paymode_panel .x_title {
    margin: 0px;
    padding: 5px 18px;
    background-color: #f06671;
    color: #fff;
}
.paymode_btns .btn {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    font-weight: 600;
    background: rgb(240, 102, 113);
    box-shadow: inset -2px -5px 5px #8d3c42;
    font-size: 12px;
    height: 40px;
    margin: 5px 0 0;
    padding: 12px 0;
    text-align: center;
    vertical-align: middle;
    width: 150px;
    cursor: pointer;
    color: #fff !important;
    text-transform: uppercase;
    border-radius: 0px;
    display: inline-block;
    border: none;
}
.table_one select#ddlbillttype {
    padding: 0px;
    margin: 0px;
}
select#ddlbillttype option {
    padding: 6px 10px;
    border-bottom: 1px solid #dde2e8;
    font-size: 15px;
}



/*media*/

@media screen and (max-width:1300px) and (min-width:1150px)
{

}
@media screen and (max-width:1149px) and (min-width:1000px)
{

}
@media screen and (max-width:999px) and (min-width:768px)
{

}
@media screen and (max-width:767px) and (min-width:620px)
{

}
@media screen and (max-width:619px) and (min-width:500px)
{

}
@media screen and (max-width:499px) and (min-width:400px)
{

}



