﻿.inventory_xpanal {
    padding: 0px;
    margin: 0px 0 30px;
}
.inventory_xpanal .x_title {
    padding: 5px 15px;
    margin: 0px;
    background-color: #f06671;
    color: #fff;
}
.panel_toolbox>li>a {
    color: #ffffff;
}
.panel_toolbox>li>a:hover {
    background: #26b99a;
}
div#gbox_jQGridDemo {
    border-radius: 0px;
}
.ui-jqgrid-titlebar {
    background-color: #f06671 !important;
    border-radius: 0px !important;
}
.entry_date .x_title {
    margin: 0 0 10px;
}
.entry_date input#txtBreakageDate {
    width: 200px;
    height: 30px;
    margin: 0 0 0 12px;
}

.entry_date .xdisplay_inputx {
    margin: 0px;
}
.entry_date span.fa.fa-calendar.form-control-feedback.left {
    margin: 4px 0 0;
}
.entry_top_table th {
    background-color: #26b99a;
    text-align: center;
    font-size: 12px;
    color: #fff;
    border-right: 1px solid;
}
.entry_top_table td {
    text-align: center;
    font-size: 12px;
}

.entry_top_table select {
    width: 150px;
    height: 30px;
    margin: 0px;
}
.entry_top_table [type=radio] {
    margin: 0px;
    position: relative;
    top: 3px;
}

.entry_top_table label {
    margin: 0px;
}
.entry_top_table div#btnShowList {
    margin: 0px;
    height: 30px;
    padding: 4px 15px;
}
.entry_top_table {
    margin: 0px;
}
[aria-labelledby=ui-id-1] {
    width: 100% !important;
    left: 0px !important;
    top: 0px !important;
}
.inventry_adddialog {
    background: rgb(225, 225, 225) !important;
    padding: 0px 10px !important;
}
.manage_table_top {
    width: 100%;
    float: left;
    background-color: #fff;
    margin: 10px 0 0;
}
h2.manage_title_top {
    margin: 0px;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    float: left;
    background-color: #f06671;
    padding: 4px 15px;
    color: #fff;
}
.manage_table_top table {
    width: 100%;
}
.manage_table_top table td {
    padding: 2px 10px;
    font-size: 12px;
    border: none;
}
.manage_table_top table input {
    border: 1px solid #c2c2c2;
    padding: 0 10px;
    height: 25px;
}
.manage_table_top select {
    border: 1px solid #c2c2c2;
    padding: 0 10px;
    height: 25px;
}
.manage_table_top table [type=checkbox] {
    height: auto;
    margin: 0px;
    position: relative;
    top: 2px;
}
.manage_table_top table label {
    margin: 0px;
}

.manage_table_top [type=radio] {
    height: auto;
    margin: 0px;
    position: relative;
    top: 2px;
}
.manage_table_top td {
    padding: 10px 10px;
    border-right: 1px solid #ddd;
}
.manage_table_top th {
    font-size: 12px;
    text-align: center;
    background-color: #46c9ac;
    color: #fff;
    padding: 4px 0;
    border-right: 1px solid;
}
.manage_table_top input {
    border: 1px solid #c2c2c2;
    padding: 0 10px;
    height: 25px;
}
.inv_sub_canc {
    margin: 20px 0 20px;
    width: 100px;
}


