﻿.ui-draggable .ui-dialog-titlebar {background-color: #f06671;}
.raisebill_dialoge {padding: 0px 0px !important; background-color: #fffff6 !important;}
.raisebill_dialoge .Search {margin: 0px 0px 10px; padding: 0px 20px 0px; border: none; border-radius: 0px; background-color: #46c9ac;}
.raisebill_dialoge .input-group {margin: 0px;}
.raise_bill_search .input-group td {padding: 2px 5px 2px !important;color: #fff;font-size: 15px;}
.raise_bill_search table input {width: 100px; height: 35px; padding: 0 5px; color: #000;}
.raisebill_middle #products {
    height: 350px;
    border: 1px solid #46c9ac;
    border-radius: 0px;
    width: 99%;
    float: right;
    background-color: #fff;
        overflow: auto;
}
.raisebill_middle .leftside {
    margin: 0px;
    border: none;
    background-color: #f06671;
    border-radius: 0px;}
.raisebill_middle div#dvProductList {
    border: 1px solid #46c9ac;
    border-radius: 0px;
    overflow: hidden;
    background-color: #fff;
    width: 99%;
    margin: 0 auto;}
    .raisebill_middle .cate {margin: 0px;height: 250px;border: none;}
    .raisebill_middle .net_amount {
    height: 288px;
    border-radius: 0px;
    background-color: #fff;
    border: 1px solid #46c9ac;
    width: 99%;}
    .net_amount table td {color: #000; font-size: 14px;padding: 5px 6px;}
    .net_amount input {margin: 0px;}
    .raisebill_buttons {margin: 0px 0;float: left; width: 100%;display: inline-flex;}
   .raisebill_buttons .button1 {
    width: 100%;
    font-size: 12px;
    font-weight: 600;
    height: 40px;
    padding: 0px;
    display: table-cell !important;
    vertical-align: middle;
    line-height: 12px;
}
    .raisebill_middle .cate2 {
    margin: 0px auto 0;
    width: 100%;
    padding: 2px;
    border: none;
}
    .raisbill_noitem {
    width: 100%;
}
.raisebill_buttons td {
    width: 90px;
    padding: 0px;
    display: table;
    float: left;
    margin: 0 3px;
}
.raisbill_products .box {
    width: 20%;
    height: 35px;
    margin: 10px 0 0 10px;
    float: left;
    display: table;
}
.raisbill_products .box h3 {
    font-size: 12px;
    word-break: break-word;
    padding: 0px;
    display: table-cell;
    vertical-align: middle;
}
.raisbill_products .box h3:hover {
    font-size: 12px;
    padding: 0px;
}
.raisbill_noitem #lblNoItems {
    line-height: 15px;
}
#cntAdmin_RdoPaymode td {
    text-align: center;
}



/*media*/


@media screen and (max-width:999px) and (min-width:768px) {
    .raisebill_buttons td {
        width: 65px;
        margin: 0 4px;
    }

    #dvOuter_ddlMobSearchBox {
        min-width: 140px !important;
    }

   .raisbill_products .box {
        width: 19%;
    }
}