﻿.login_content select {
    margin: 0px;
    width: 345px;
    border: none;
    box-shadow: inset 0px 0px 10px 0px #353535b0;
    border-radius: 0px !important;
    background-color: #eee;
    height: 50px;
    padding: 0 15px;
}
.login_content select:focus {
    margin: 0px;
    width: 345px;
    border: none;
    box-shadow: inset 0px 0px 10px 0px #f06671 !important;
    border-radius: 0px !important;
    background-color: #eee;
    padding: 0 15px;
}
.login_content input {
    margin: 0px !important;
    width: 345px !important;
    border: none !important;
    box-shadow: inset 0px 0px 10px 0px #353535b0 !important;
    border-radius: 0px !important;
    background-color: #eee !important;
    height: 50px;
    padding: 0 15px;
}
.login_content input:focus {
    margin: 0px !important;
    width: 345px;
    border: none !important;
    box-shadow: inset 0px 0px 10px 0px #f06671 !important;
    border-radius: 0px !important;
    background-color: #eee;
    padding: 0 15px;
}


.login_content .login_inputs {
    margin: 15px 0 0;
}
.login_content input#btnLogin {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    font-weight: 600;
    background: rgb(240, 102, 113) !important;
    box-shadow: inset -2px -5px 5px #8d3c42 !important;
    font-size: 25px;
    height: 50px;
    padding: 0px 5px 5px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #fff !important;
    text-transform: uppercase;
    display: inline-block;
}
#wrapper {
    max-width: 100% !important;
    width: 100%;
    float: left;
    background-color: #fff;
    margin: 0px !important;
}
#wrapper div#login {
    /* background-color: #fff; */
    padding: 9% 0;

    background-size: cover;
    background-repeat: no-repeat;
}
#wrapper div#login::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: #00000069;
}


#login section.login_content {
    width: 400px;
    padding: 0px;
}


html, body {
    background-color: #fff !important;
}
.login_content h1 {
    color: #000;
    font-size: 45px !important;
    text-shadow: none;
    font-weight: 600 !important;
    margin: 0 0 35px !important;
    width: 100%;
    float: left;
    text-transform: uppercase;
    letter-spacing: 5px !important;
}
.login_content form {
    margin: 0px !important;
    /* background-color: #ffffff9c; */
    padding: 25px;
    background-image: url(../../images/back_blur.jpg);
    background-size: cover;
}
.login_content h1:before, .login_content h1:after {
 display:none;
}



