﻿mfooter {
    float: left;
    width: 100%;
    color: #fff;
    margin: 0px;
}
.addmanage_employees div#btnAdd {
    width: 115px;
    margin: 0px;
    border: none;
    border-radius: 0px;
    height: 40px;
    padding: 9px 0;
}
.addmanage_employees div#btnDelete {
    width: 115px;
    margin: 0px;
    border: none;
    border-radius: 0px;
    height: 40px;
    padding: 9px 0;
}
.edit_employees_table .btn {
    width: 115px;
    margin: 10px 0px 0 0;
    border: none;
    border-radius: 0px;
    height: 40px;
    padding: 9px 0;
}
.addmanage_employees {
    height: 600px;
}
.edit_employees_table td.headings {
    text-align: left;
}
.edit_employees_table input {
    width: 100%;
    height: 30px;
font-size: 12px;
}
.edit_employees_table select {
    width: 100%;
    height: 30px;
    font-size: 12px;
}
.addmanage_employees table {
    width: 100%;
    text-align:left;
}
.addmanage_employees span.fa.fa-plus {
    font-size: 15px;
    margin: 0 0 0 5px;
}
.addmanage_employees .ui-jqgrid-titlebar {
    background-color: #f06671;
    border: none;
}
.employee_list_table div#gview_jQGridDemo {
    width: 100% !important;
}
.employee_list_table .youhave {
    width: 100%;
}
.employee_list_table div#t_jQGridDemo {
    width: 100% !important;
}
.employee_list_table .ui-state-default {
    width: 100% !important;
}
.employee_list_table .ui-jqgrid-bdiv {
    width: 100% !important;
}
.employee_list_table div#gbox_jQGridDemo {
    width: 100% !important;
}
.employee_list_table button#globalSearch {
    width: 30px !important;
}
footer {
    float: left;
    width: 100%;
    color: #fff;
    margin: 0px;
}
.edit_employees_table tr:last-child td {
    padding: 0px;
}





