﻿.add_manage_company {
    height: 480px;
}
.add_manage_company .ui-jqgrid-titlebar {
    background-color: #f06671;
    border: none;
}
footer {
    float: left;
    width: 100%;
    color: #fff;
    margin: 0px;
}
.no_splier_table {
    height: 164px;
    border: 1px solid #dde2e8;
    overflow: auto;
}
.no_splier_table tr:first-child {
    background-color: #f06671 !important;
    color: #fff;
    border: none !important;
}

.edit_company_table {
    width: 100%;
}
.edit_company_table td {
    text-align: left !important;
}
.edit_company_table div#btnAdd {
    width: 115px;
    margin: 0px;
    border: none;
    border-radius: 0px;
    height: 40px;
    padding: 9px 0;
}
.youhave div#btnDelete {
    width: 115px;
    margin: 0px;
    border: none;
    border-radius: 0px;
    height: 40px;
    padding: 9px 0;
}

