﻿footer {
    float: left;
    width: 100%;
    color: #fff;
    margin: 0px;
}
.add_manage_group {
    height: 600px;
}

.add_manage_group div#btnAdd {
    width: 115px;
    margin: 0px;
    border: none;
    border-radius: 0px;
    height: 40px;
    padding: 9px 0;
}
.add_manage_group div#btnDelete {
    width: 115px;
    margin: 0px;
    border: none;
    border-radius: 0px;
    height: 40px;
    padding: 9px 0;
}
.edit_company_table {
    width: 100%;
}
.edit_company_table td {
    text-align: left !important;
}
.add_manage_group .ui-jqgrid-titlebar {
    background-color: #f06671;
    border: none;
}
.add_manage_subgroup {
    height: 615px;
}