﻿.managecustomer_rate_table th {
    background-color: #46c9ac;
    color: #fff;
}
.managecustomer_product tr:nth-child(even) {
    background-color: #f9e4e6;
}
.managecustomer_product .prdct_btns {
    font-size: 12px;
    border-radius: 0px;
    height: 30px;
    padding: 6px 0;
    width: 90px;
    background: #f06671 none repeat scroll 0 0;
    box-shadow: inset -2px -5px 5px #8d3c42;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    margin: 0px;
}

.managecustomer_product::-webkit-scrollbar {width: 25px;}
.managecustomer_product::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgb(70, 201, 172);}
.managecustomer_product::-webkit-scrollbar-thumb {background-color: #f06671;outline: 1px solid slategrey;}