﻿.manageuser_leftform {
    width: 75%;
}
.manageuser_leftform label {
    text-align: left !important;
    padding: 4px 0 0 !important;
    font-size: 14px;
}
.manageuser_leftform select {
    width: 200px;
    height: 25px;
    padding: 0px;
    font-size: 12px;
    border-radius: 0px;
        float: left;

}
.manageuser_leftform input {
    width: 200px;
    height: 25px;
    padding: 0px;
    font-size: 12px;
    border-radius: 0px;
        float: left;
}
.manageuser_leftform textarea {
    width: 200px;
    height: 70px;
    padding: 0px;
    font-size: 12px;
    border-radius: 0px;
        float: left;
}
.manageuser_leftform input[type="checkbox"] {
    width: auto;
    height: auto;
    margin: 8px 0 0;
}
.manageuser_leftform .btn {
    margin: 0px;
    width: 110px;
    height: 35px;
}
.edit_manage_user {
    padding: 0px;
}

.edit_manage_user .x_title {
    margin: 0px;
    padding: 5px 20px;
    background-color: #f06671;
    color: #fff;
}
.edit_manage_user .x_content {
    padding: 0px;
    margin: 25px 0 0 20px;
}
.panel_toolbox>li>a:hover {
    background: #ffffff;
    color: #000;
}
.panel_toolbox>li>a {
    padding: 5px;
    color: #ffffff;
    font-size: 14px;
}
.edit_manage_user td {
    text-align: left !important;
}
.manageuser_leftform span.fa.fa-plus {
    font-size: 20px;
    margin: 0 0 0 5px;
}



