﻿[aria-labelledby=ui-id-1] {
    width: 100% !important;
    left: 0px !important;
    top: 0px !important;
    padding: 0px;
}
[aria-labelledby=ui-id-1] .order_dialog {
    padding: 0px;
    background: rgb(225, 225, 225);
}
.order_xpanel {
    padding: 0px 25px;
    width: 100%;
    float: left;
        background-color: transparent;
        margin: 0px;
}
.order_xcontant {
    width: 100%;
    float: left;
    padding: 5px 10px;
    margin: 5px 0;
    border: 1px solid #46c9ac;
}
.order_xcontant table label {
    margin: 0px;
    font-size: 14px;
}
.order_xcontant table td {
    padding: 0 15px 0 0;
}
.order_xcontant table input {
    margin: 0px !important;
    width: 200px;
    height: 25px;
    padding: 0px 5px;
    font-size: 12px;
    border-radius: 0px;
    border: 1px solid #c2c2c2;
}
.order_xcontant table [type=radio] {
    width: auto;
    height: auto;
    position: relative;
    top: 2px;
    cursor: pointer;
}
.xpanel_information {
    padding: 0px;
    margin: 0 auto 10px;
    height: 205px;
    width: 99%;
}
.xpanel_information .x_title {
    background-color: #46c9ac;
}
.xpanel_information h2 {
    margin: 0px;
    width: 100%;
    font-size: 12px;
    padding: 5px 10px;
    color: #fff;
    font-weight: 600;
}

.xpanel_information_contant {
    margin: 0px;
    padding: 0 10px;
    width: 100%;
    float: left;
}
.xpanel_information_contant .form-group {
    padding: 0 0 25px;
}

.xpanel_information_contant label {
    margin: 2px 0 0;
    font-size: 13px;
    float: left;
}

.xpanel_information_contant input {
    border: 1px solid #c2c2c2;
    padding: 0 10px;
        height: 25px;
}
.xpanel_information_contant select {
    border: 1px solid #c2c2c2;
    padding: 0 10px;
        height: 25px;
}
.xpanel_information_contant textarea {
    border: 1px solid #c2c2c2;
    padding: 0 10px;
}
.xpanel_information_middle {
    padding: 0px 0px;
    margin: 0 auto 10px;
    height: auto;
    width: 100%;
}
.xpanel_contant_middle {
    padding: 0px;
    margin: 0px;
}
.xpanel_contant_middle table {
    width: 100%;
}
.xpanel_contant_middle table th {
    background-color: #46c9ac;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    padding: 3px 0px;
    text-align: center;
    border-right: 1px solid #fff;
}
.xpanel_contant_middle table input {
    border: 1px solid #c2c2c2;
    padding: 0 10px;
    width: 100%;
    height: 25px;
}
.xpanel_contant_middle table td {
    padding: 0px 20px;
    text-align: center;
    border-right: 1px solid #ddd;
}
.xpanel_bottom {
    padding: 0px;
    margin: 0 auto 10px;
    height: 200px;
    width: 99%;
    overflow-y: scroll;
}
.xpanel_contant_bottom{
        padding: 0px;
    margin: 0px;

}
.xpanel_contant_bottom table th {
    background-color: #46c9ac;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    padding: 5px 0px !important;
    text-align: center;
    border-right: 1px solid #fff;
}
.order_panal_buttons {
    display: grid;
    float: left;
    width: 30%;
}
textarea#txtRemarks {
    width: 99% !important;
    height: 73px;
    padding: 0 10px;
}



