﻿.settlement_panel {
    padding: 0px;
    margin: 0px;
    border: 1px solid #46c9ac;
    overflow: hidden;
    border-radius: 10px;}
.settlement_panel .x_title {margin: 0px; padding: 0px;border: none;}
.settlement_panel h1.settlement_header {
    text-align: center;
    font-size: 25px;
    margin: 0px;
    padding: 10px 0px;
    background-color: #46c9ac;
    color: #fff;
    font-weight: 600;}
   .settlement_panel .Search {margin: 0 9px; width: 98%; background-color: #f06671;}
.settlement_product div#products {
    height: 400px;
    background-color: #fff;
    border: 1px solid #46c9ac;
    margin: 0px 0 0 16px;
    border-radius: 10px;}
.settlement_product {margin: 15px 0 0;}
.settlement_panel .form-group {background-color: #fffff6; margin: 0px;}
.settlement_product .leftside {
    margin: 0 10px;
    float: left;
    background-color: #fff;
    padding: 10px 10px;
    width: 95%;
    border: 1px solid #46c9ac;
    height: 400px;
    overflow: auto;
    border-radius: 10px;}
    .settlement_window table {width: 100%;}
    .settlement_window select#ddlbillttype {color: #000; font-size: 18px; padding: 0px; margin: 0 0 10px;}
    #ddlbillttype option {border-bottom: 1px solid #dde2e8; padding: 5px 10px;}
    #ddlbillttype option:last-child {border: none;}
    .settlement_window table td {color: #000;font-size: 14px;}
    .settlement_buttons .button1 {width: 140px; font-size: 14px;font-weight: 600;}
    .settlement_buttons .button3 {width: 140px; font-size: 14px;font-weight: 600;}
    table.settlement_buttons {margin: 10px 15px; float: left; width: 100%; display: inline-flex;}
    .settlement_window table input {width: 100px; height: 35px; margin: 5px 0;}
    .settlement_window select#ddlChosseCredit {width: 100px; height: 35px;float: right;}
    .settlement_window select#ddlBank {width: 100px;height: 35px;}
    .settlement_window select#ddlType {width: 100px; height: 35px; float: right;}
    .settlement_window select#ddlOtherPayment {width: 100px; height: 35px;}
    .settlement_window input#txtpaymentAmount {float: right;}
    .select_customer {border: 1px dashed #dde2e8;height: 35px;padding: 5px 0;}
    .select_customer label#lblCreditCustomerName {margin: 0px;font-weight: normal;}
    
    
    
    
    
    
    @media screen and (max-width:767px) and (min-width:580px)
    {
        .settlement_buttons .button1 {width: 125px; font-size: 12px;}
        .settlement_product .leftside {width: 93%;padding: 8px 8px;}
        .settlement_window table td {font-size: 12px;}
        .settlement_panel h1.settlement_header {font-size: 22px;padding: 8px 0px;}
    }

