﻿.setup_title {
    margin: 0px;
    width: 100%;
    color: #fff;
    background-color: #f06671;
    padding: 8px 15px;
}
.setup_title h2 {
    margin: 0px;
    font-size: 20px;
}
.upload_img {
    text-align: center;
    margin: 0px;
    border: 3px dashed;
    padding: 15px;
}
.upload_img img {
    width: 145px;
    cursor: pointer;
}
.setup_btn {
    border: none;
    background-color: #1abb9c;
    color: #fff;
    padding: 6px 30px;
    font-size: 15px;
    font-weight: 600;
    margin: 15px 0 0;
}
.upload_img span {
    display: inherit;
}


.Department_table {
    width: 100%;
    border: 1px solid #ddd;
}
.Department_table tr:nth-child(even) {
    background-color: #ebebeb !important;
}
.Department_table th {
    color: #fff;
    font-size: 14px;
    text-align: left;
}
.Department_table td {
    color: #000;
    font-size: 12px;
    text-align: left;
}
.Department_table .btn {
    margin: 0px !important;
    font-size: 12px;
    padding: 3px 0;
    width: 70px;
}
.Department_table input {
    width: 200px;
    height: 25px;
    padding: 0 5px;
    border-color: #dcdcdc;
}
.Department_table tr:first-child {
    background-color: #f06671 !important;
}



