﻿html {
    height: 100%;
}
.login_body {
    /*background-image: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);*/
    background-image: url(../../images/gradient_green.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.login_wraper {
    margin: 0px !important;
    width: 100%;
    float: left;
    max-width: 100% !important;
}
/*.login_content {
    width: 375px;
    margin: 0 auto;
    border: 3px solid #fff;
    border-radius: 20px;
    padding: 0px;
}*/
.login_content .form_contant {
    width: 375px;
    margin: 0 auto;
    /* border: 2px solid #036e68; */
    padding: 30px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 70px #ffffffe0;
}
.login_heading {
    font-size: 50px;
    color: #fff;
    text-shadow: none;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 0 45px;
    letter-spacing: 5px;
}
.login_content {
    padding: 0px;
}
.all_login_main {
    top: 60px !important;
}
.form_contant select {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    margin: 0 0 15px 0;
    padding: 0 20px;
    /* box-shadow: none !important; */
    box-shadow: inset 0px 0px 10px #00000082;
    border: none;
}
.form_contant input {
    width: 100%;
    background-color: #fff;
    margin: 0 0 0 0;
    height: 45px;
    border-radius: 10px !important;
    border: none !important;
    padding: 0 20px;
    box-shadow: inset 0px 0px 10px #00000082 !important;
}
.form_contant .btn {
    background-color: #f06671;
    color: #fff;
}
.form_contant .btn:hover {
    background-color: #f73b4a;
    color: #fff;
}




/*media*/

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .login_heading{font-size: 40px; margin: 0 0 20px;}
}
@media screen and (max-width: 767px) and (min-width: 600px) {
    .login_heading{font-size: 40px; margin: 0 0 20px;}
    .login_content {padding: 0px !important;}
}
@media screen and (max-width: 599px) and (min-width: 480px) {
    .login_heading{font-size: 35px; margin: 0 0 20px;}
    .login_content {padding: 0px !important;}
}
@media screen and (max-width: 479px) and (min-width: 400px) {
    .login_heading{font-size: 35px; margin: 0 0 20px;}
    .login_content {padding: 0px !important;}
}
@media screen and (max-width: 399px) and (min-width: 320px) {
    .login_heading{font-size: 25px; margin: 0 0 30px;letter-spacing: 2px;}
    .login_content {padding: 0px !important;}
    .login_content .form_contant{width: 290px; padding: 15px;}
}

