﻿.update_itemcode_table .headings {
    padding: 10px 10px;
    font-size: 16px;
    color: #fff;
    background-color: #f06671;
}
.update_itemcode_table table {
    width: 100%;
}
.heading_table select#ddlCat2 {
    color: #000;
    height: 30px;
    border: none;
    font-size: 14px;
    width: 200px;
    padding: 0 5px;
}
table.heading_table {
    width: 30%;
}
.updateitemcode_products .btn {
    font-size: 12px;
    border-radius: 0px;
    height: 30px;
    padding: 6px 0;
    width: 90px;
    background: #f06671 none repeat scroll 0 0;
    box-shadow: inset -2px -5px 5px #8d3c42;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: none;
}

.updateitemcode_products #dvProducts tr:nth-child(even) {
    background-color: #f9e4e6;
}
.updateitemcode_products #dvProducts tr:nth-child(even) td {
    border-right: 1px solid #fff;
}
.updateitemcode_products #dvProducts tr:nth-child(odd) td {
    border-right: 1px solid #f9e4e6;
}
.updateitemcode_products #dvProducts tr:nth-child(1) th {
    border-right: 1px solid #fff;
}
.updateitemcode_products #dvProducts tr:nth-child(1) {
    background-color: #46c9ac;
    color: #fff;
}
.updateitemcode_products #dvProducts td {
    padding: 9px 10px !important;
    width: auto;
}