﻿
body, html {
    overflow: hidden !important;
}
[aria-labelledby=ui-id-1] {
    width: 100% !important;
    left: 0px !important;
    top: 0px !important;
        padding: 0px !important;
}
[aria-labelledby=ui-id-1] .ui-dialog-titlebar {
    border: none;
    border-radius: 0px;
    background-color: #f06671;
}
.vatbilling_dialog {
    width: 100% !important;
    padding: 0px !important;
    margin: 0px !important;
        overflow: unset !important;
}
.vatbilling_searchbar .input-group {
    margin: 0px;
}
.vatbilling_searchbar {
    background-color: #46c9ac !important;
    margin: 1px 0px !important;
    border: none !important;
    padding: 10px 70px !important;
    border-radius: 0px !important;
}
.vatbilling_searchbar input {
    margin: 0px;
    width: 330px !important;
    border: none;
    box-shadow: inset 2px 2px 5px 0px #bbb;
    border-radius: 0px !important;
    background-color: #eee;
    height: 40px;
    padding: 0 15px;
}


.vatbilling_searchbar img {
    width: 40px;
    margin: 0 30px;
}
.vatbilling_products .leftside {
    margin: 0px;
    border: none;
    width: 100%;
    float: left;
    background-color: #f06671 !important;
        border-radius: 0px;
}
.vatbilling_products table th {
    text-align: center;
    padding: 0px;
}
.vatbilling_products {
    width: 90%;
    margin: 15px auto;
    border: 1px solid #ddd;
}

.vatbilling_cate2 {
    width: 100% !important;
    float: left;
    padding: 0px !important;
    margin: 0px !important;
}
.vatbilling_cate2 table#tbamountinfo {
    width: 90%;
    margin: 0 auto;
        border-bottom: 1px solid #ddd;
}
#tbamountinfo td {
    padding: 5px 10px;
}

table#myCustomTable {
    width: 50%;
    float: right;
    margin: 0px;
    border: 1px solid #ddd;
}
#myCustomTable td {
    padding: 3px 5px;
    font-size: 12px;
    width: 100px;
}
.input_table td {
    padding: 0px !important;
}
.input_table input {
    margin: 0px;
    width: 80px;
}
#myCustomTable tr:nth-child(even) {
    background-color: #f9e4e6;
}
.vatbilling_bottom {
    width: 90%;
    margin: 15px auto;
}

.vatbilling_btns .button1 {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    font-weight: 600;
    background: rgb(240, 102, 113);
    box-shadow: inset -2px -5px 5px #8d3c42;
    font-size: 12px;
    height: 40px;
    margin: 0px;
    padding: 10px 5px 5px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    cursor: pointer;
    color: #fff !important;
    text-transform: uppercase;
    border-radius: 5px;
    display: inline-block;
    border: none;
}

.vatbilling_btns .button3 {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    font-weight: 600;
    background: rgb(240, 102, 113);
    box-shadow: inset -2px -5px 5px #8d3c42;
    font-size: 12px;
    height: 40px;
    margin: 0px;
    padding: 10px 5px 5px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    cursor: pointer;
    color: #fff !important;
    text-transform: uppercase;
    border-radius: 5px;
    display: inline-block;
    border: none;
}
.vatbilling_btns td {
    width: 200px;
    padding: 5px 5px;
}
.choos_services {
    width: 100%;
}
.choos_services tr {
    float: left;
    padding: 0 35px 0 0;
}
.choos_services td {
    padding: 0 10px;
}
.choos_services select {
    float: left;
    width: 130px;
    height: 40px;
    margin: 0px 8px 0;
    border: none;
    box-shadow: inset 2px 2px 5px 0px #bbb;
    border-radius: 0px !important;
    background-color: #eee;
    padding: 0 15px;
}
.choos_services div#dvOuter_ddlMobSearchBox {
    float: left;
    width: 130px;
    height: 40px;
    margin: 0px 8px 0;
    border: none;
    box-shadow: inset 2px 2px 5px 0px #bbb;
    border-radius: 0px !important;
    background-color: #eee;
    padding: 0 15px;
}
.date_or_items {
    vertical-align: top;
    font-size: 15px;
}
.numb_of_items {
    width: 100%;
}
.numb_of_items td {
    padding: 0px !important;
}





@media screen and (max-width:1300px) and (min-width:1150px)
{

}
@media screen and (max-width:1149px) and (min-width:1000px)
{

}
@media screen and (max-width:999px) and (min-width:768px)
{
    .vatbilling_searchbar{padding: 10px 40px !important;}
    .vatbilling_searchbar input{width: 265px !important;}
    table#myCustomTable{width: 80%;}
    .choos_services tr {padding: 0 0px 0 0;}
    .choos_services td {padding: 0 4px;}
    .vatbilling_products{margin: 8px auto;}
}
@media screen and (max-width:767px) and (min-width:620px)
{
    .vatbilling_searchbar{padding: 10px 33px !important;}
    .vatbilling_searchbar input{width: 230px !important;}
    table#myCustomTable{width: 100%;}
    .choos_services tr {padding: 0 0px 0 0;}
    .choos_services td {padding: 0 0px;}
    .vatbilling_products{margin: 8px auto;}
    .vatbilling_searchbar img {margin: 0 10px;}
    .date_or_items {font-size: 14px; width: 50%;}
    .choos_services select{width: 110px; margin: 0px 2px 0;}
    .choos_services div#dvOuter_ddlMobSearchBox{width: 110px !important; margin: 0px 2px 0; min-width: auto !important;}
    .vatbilling_btns .button1{font-size: 10px; padding: 12px 0px; line-height: 10px;}
    .vatbilling_btns .button3{font-size: 10px; padding: 12px 0px; line-height: 10px;}
    .vatbilling_btns td {padding: 5px 1px;}
}
@media screen and (max-width:619px) and (min-width:500px)
{
    .vatbilling_searchbar{padding: 10px 25px !important;}
    .vatbilling_searchbar input{width: 172px !important;}
    table#myCustomTable{width: 100%;}
    .choos_services tr {padding: 0 0px 0 0;}
    .choos_services td {padding: 0 0px;}
    .vatbilling_products{margin: 8px auto;}
    .vatbilling_searchbar img {margin: 0 10px;}
    .date_or_items {font-size: 12px; width: 50%;}
    .choos_services select {width: 85px; margin: 0px 1px 0; padding: 0 1px;}
    .choos_services div#dvOuter_ddlMobSearchBox{width: 85px !important; margin: 0px 1px 0; min-width: auto !important;}
    .vatbilling_btns .button1{font-size: 10px; padding: 12px 0px; line-height: 10px;}
    .vatbilling_btns .button3{font-size: 10px; padding: 12px 0px; line-height: 10px;}
    .vatbilling_btns td {padding: 5px 1px;}
    .date_or_items span {line-height: 15px;}
    .input_table input {width: 40px;}
    #myCustomTable td{padding: 1px 5px;}
    .vatbilling_bottom{width: 95%;}
    .vatbilling_cate2 table#tbamountinfo{width: 95%;}
}
@media screen and (max-width:499px) and (min-width:400px)
{
    .vatbilling_searchbar{padding: 10px 25px !important;}
    .vatbilling_searchbar input{width: 130px !important; height: 30px;}
    table#myCustomTable{width: 100%;}
    .choos_services tr {padding: 0 0px 0 0;}
    .choos_services td {padding: 0 0px;font-size: 10px;}
    .vatbilling_products{margin: 8px auto;}
    .vatbilling_searchbar img {margin: 0 10px; width: 28px;}
    .date_or_items {font-size: 12px; width: 50%;}
    .choos_services select {width: 64px; height: 30px; margin: 0px 1px 0; padding: 0 1px;}
    .choos_services div#dvOuter_ddlMobSearchBox{width: 70px !important; height: 30px; margin: 0px 1px 0; min-width: auto !important;}
    .vatbilling_btns .button1{font-size: 10px; padding: 5px 0px; line-height: 10px;}
    .vatbilling_btns .button3{font-size: 10px; padding: 5px 0px; line-height: 10px;}
    .vatbilling_btns td {padding: 5px 1px;}
    .date_or_items span {line-height: 15px;}
    .input_table input {width: 40px;}
    #myCustomTable td{padding: 1px 5px !important; font-size: 10px;}
    .vatbilling_bottom{width: 95%;}
    .vatbilling_cate2 table#tbamountinfo{width: 95%;}
    #tbamountinfo td {padding: 5px 1px;font-size: 9px;}
}


