body  
{
    
   
}



	{ margin:50px 0 0 5px; padding:2px 2px;}


.nav ul {
    list-style-type: none;
    margin: 3px;
    padding: 0;
    overflow-y:Auto;
	height:389px;
	margin-left:-102px;
	margin-right:67px;
}

.nav ul li {
	
	float:left;
	background:#333;
	width:165px;
	height:48px;
   
}


        
 .ancSelected
{

	background:#db3030;
    color: #ffffff;
    display: block;
    font-weight: bold;
    height: 92%;
    margin: 0px;
    padding: 1px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
	border-style:solid;
	border-color:white;
	Border-width:1px;
	margin-top:2px;
}
 

.ancBasic{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #333;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    color: #ffffff;
    display: block;
    font-weight: bold;
    margin-top:0px;
    padding:1px;
	text-align: center;
	height:95%;
	text-decoration:none;
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-transform: uppercase;
    width: 100%;
	border-style:solid;
	border-color:white;
	Border-width:1px;

    background: rgba(0, 0, 0, 0.9); /* For Safari 5.1 to 6.0 */
    background: rgba(0, 0, 0, 0.9); /* For Opera 11.1 to 12.0 */
    background: rgba(0, 0, 0, 0.9); /* For Firefox 3.6 to 15 */
}

 

.box{ margin:10px 0 0 17px;
      padding:0px 0 0 0px;
    float:left;
	text-align:center;
    background: black;
    width: 131px;
    border-radius: 4px;
    cursor:pointer;

    }
	
.box h3{font-weight:bold; 
margin:0px -12px -5px 0px; padding-top:5px; 
font-size:11px;height:50px; 
background:black   ; 
color:#FFFFFF;  
border-width: 1px;
border-style: solid;
 
 
 }
		
.box h3:hover{
font-weight:bold; 
margin:0px -12px -5px 0px; 
padding-top:5px;               
font-size:11px;height:50px; background:#db3030;  
color:#FFFFFF;  
border-top-left-radius:0px;
background-color:#db3030;        
border-top-right-radius:0px;
border-bottom-right-radius:3px;
border-bottom-left-radius:3px; }

	
.btn {
  background: #db3030;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  cursor:pointer;
}

.btn:hover {
  background: #f0656f;
  text-decoration: none;
}	


.leftside {
    background-color: #db3030;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #CACACA;
    font-size: 12px;
    margin-bottom: 0;
    margin-left: -4px;
    margin-right: 0;
    margin-top: 12px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 2px;
    padding-top: 10px;
    width: 400px;
    color:White;

}


.cate {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #f1f1f1;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
 
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: #dbdbdb;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #dbdbdb;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #dbdbdb;
    border-top-style: solid;
    border-top-width: 1px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: -1px;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 0;
    padding-top: 0;
    border-bottom: 0px;
}




 


.cate {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #ffffff;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    color: #262c2d;
    font-size: 12px;
    margin-bottom: 0;
    margin-left: -4px;
    margin-right: 2px;
    margin-top: 0;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 2px;
    padding-top: 10px;
    width: 100%;
}



.cate2 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #333333;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: #333333;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: #333333;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #333333;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #333333;
    border-top-style: solid;
    border-top-width: 1px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: -1px;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 0;
    padding-top: 0;
}




 


.cate2 {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #333333;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    color: #262c2d;
    font-size: 12px;
    margin-bottom: 0;
    margin-left: -4px;
    margin-right: 2px;
    margin-top: 0;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 2px;
    padding-top: 10px;
    width: 100%;
}














.Search{ background-color:#f0626e; margin:10px 0px 5px 18px; float:left; padding:20px 20px; width:97%;border-radius:2px }

.button1 {
    background: rgba(0, 0, 0, 0.9) none repeat scroll 0 0;
    border-radius: 3px;
    
    color: #ffffff;
    font-size: 12px;
    height: 50px;
    margin: 2px;
    padding: 10px 5px 5px;
    text-align: center;
    vertical-align: middle;
    width: 95%;
    cursor:pointer;
	border-width: 1px;
	border-style: solid;
	font-weight:bold;
}

 

.button h2{ font-size:12px; }


.button1 {
    background: rgba(0, 0, 0, 0.9) none repeat scroll 0 0;
    border-radius: 3px;
    color: #ffffff;
    font-size: 12px;
    height: 50px;
    margin: 2px;
    padding: 10px 5px 5px;
    text-align: center;
    vertical-align: middle;
    width: 95%;
    cursor:pointer;
	border-width: 1px;
	border-style: solid;
	border-style: solid;
}
.button1:hover{
	background-color:#db3030;

 
.button1 h2{ font-size:12px; }



.button2 {
    background: #3ac9a9 none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: -2px -5px 5px #347c5c inset;
    color: #ffffff;
    font-size: 12px;
    height: 50px;
    margin: 2px;
    padding: 10px 5px 5px;
    text-align: center;
    vertical-align: middle;
    width: 95%;
     cursor:pointer;
}
.button2 h2{ font-size:12px; }




